.gitignore
__pycache__/
*.py[cod]
*$py.class
/pydef/
.idea/
target/
*.iml
/DisplayServer/
/src/main/resources/blender-addon/typescript
/mastodon/
/mastodon-graph/
/mastodon-collection/
/mastodon-plugin/src/test/java/ExampleDatasets.java
/mastodon-plugin/src/test/java/StartMastodon.java
/mastodon-plugin/src/test/java/StartBlenderAndMastodon.java

